html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    padding-top: 70px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F5F5F5;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.profile {
    text-align: center;
    font-size: 50px;
}
h1 a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.subtitle {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    font-size: 48px;
}
nav {
    background-color: #2E2E2E;
    display: flex;
    justify-content:space-between;
    padding-left: 10px;
    height: 60px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(5px);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
nav .left {
    display: flex;
    align-items: center;
    color: 	white;
    font-size: 24px;
    font-weight: 600;
    margin-right: 10px;
    padding-left: 10px;
    text-decoration: none;
}
nav .left a {
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}
nav .right a {
    color: 	white;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
    padding-right: 10px;
    text-decoration: none;
}
nav .right a:hover {
    color: #808080;
    transition: color 0.3s ease-in-out;
}
nav .left a:hover {
    color: #808080;
    transition: color 0.3s ease-in-out;
}
.social-links{
    font-size: 36px;
    align-items: center;
}
.social-links a {
    padding: 0;
    margin: 0 0.75rem;
    text-decoration: none;
}

.social-links a i {
    transition: transform 0.3s, color 0.3s;
    align-items: center;
}

.social-links a:hover i {
    color: black;
    transform: scale(1.2);
}

.social-links i {
    color: #808080;
    font-weight: 500;
}

section {
    padding: 64px 16px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

section:nth-of-type(odd) {
    background-color: #f8f8f8;
}

section:nth-of-type(even) {
    background-color: #ffffff;
}